
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31,34,53);
    position: sticky;
    top: 0;
    font-size: 18px;
    font-family: 'poppins';
    font-weight: bold;
    padding: 16px 45px;
}

.horizontal img{width: 120px;}

.navbar{
    list-style: none;
    text-decoration: none;
    margin-right: 30px;
    padding: 8px 0px;
}

.navbar > a:hover{
    color: rgb(220, 22, 22);
    font-size: 18px;
}

.navbar > a {
    color: white;
    text-decoration: none;}

#home {
    background-color: rgb(35,38,58);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    font-family: 'poppins';
}



.social-icon { 
    border: 2px solid #e42323;
    border-radius: 50px;
    margin-right: 20px; 
    color: white;
    /* justify-content: space-between; */
    padding: 25px;
    font-size: 20px;
  
}


.social-icon:hover {
    background-color: #e42323;
}


#name {
    color: rgb(255,255,255);
    font-family: 'poppins';
    font-size: 40px;
    /* font-weight: 900; */
    margin: 40px 0 30px;  
}

.hero-img {
    margin-left: 10px;  
}

.hero-img > img {
    width: 100%;
    height: auto;
}

#p1 {
    font-size: 30px;
    color: white;
    font-family: 'poppins';
    font-weight: 1px;
    font-size: 26px;
}



.homebttn {

    /* justify-content: space-between;
    border-style: solid 3px red;
    border-radius: 100px;
    border: solid red 2.5px;
    font-size: 20px;
    background-color:rgb(35,38,58); 
    color: white;
    height: 85px;
    padding: 30px; */
    display: flex;
    background-color:transparent;
    margin-top: 40px;

}

.homebttn #bttn{
    color: white;
    border: solid red 2.5px;
    border-radius:90px;
    background: transparent;
    font-size: 25px;
    height: 70px;
    width: 200px;
    padding: 20px;
  margin: 10px;
  
}

.homebttn #bttn1{
    color: white;
    border: solid red 2.5px;
    border-radius:90px;
    background: transparent;
    background-color: #e42323;
    font-size: 25px;
    height: 70px;
    width: 200px;
    padding: 20px;
  margin: 10px;
  border-color: #e42323;
color: white;

}

.homebttn #bttn:hover {
    background-color: #e42323;
}
